.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(183, 177, 206);
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.navbar {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}

.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}
.create-recipe h2 {
  border-bottom: 2px solid black;
}
.create-recipe button {
  margin-top: 5px;
  padding: 10px;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.create-recipe form {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}
.recipes-header {
  margin: 0;
  background-color: rgb(183, 177, 206);
  width: 100%;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid black;
}
.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  width: 70%;
  margin: 20px auto;
  background-color: rgb(193, 196, 216);
  padding: 20px;
  border-radius: 20px;
}

.recipe-card {
  width: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  height: 600px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.recipe-card img {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #ccc;
}
.details-container {
  padding: 10px;
}
.details-container h2 {
  margin: 10px 0;
  font-size: 18px;
}
.details-container p {
  margin: 5px 0;
  font-size: 14px;
}
.details-container button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.details-container button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.no-recipes {
  width: 100%;
  text-align: center;
  color: #888;
  padding: 20px;
  font-style: italic;
  
}
/* h2 {
  margin-top: 0;
} 

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

img {
  width: 400px;
}

p {
  max-width: 400px;
  font-size: 12px;
} */
