:root{
  --main-color: #89A8B2;
  --second-color: #B3C8CF;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--second-color);
}

.auth {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: var(--main-color);
  border-radius: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.navbar {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
.logOutButton {
  color: black;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  font-size: 25px;
}
.logOutButton:hover {
  background-color: gray;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  cursor: pointer;
  position: relative;
}

.navbar a.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white; 
}

.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
  background-color: var(--main-color);
}
.create-recipe h2 {
  border-bottom: 2px solid black;
}
.create-recipe button {
  margin-top: 5px;
  padding: 10px;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #B3C8CF;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.create-recipe form {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}
.recipes-header {
  margin: 0;
  background-color: var(--main-color);
  width: 100%;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid black;
}
.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  width: 70%;
  margin: 20px auto;
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 20px;
}

.recipe-card {
  width: auto;
  background-color: #fff;
  border: 2px solid #B3C8CF;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  height: 600px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #E5E1DA;
}
.recipe-card img {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
}
.details-container {
  padding: 10px;
}
.details-container h2 {
  margin: 10px 0;
  font-size: 18px;
}
.details-container p {
  margin: 5px 0;
  font-size: 14px;
}
.details-container button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #B3C8CF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.details-container button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.no-recipes {
  width: 100%;
  text-align: center;
  color: #888;
  padding: 20px;
  font-style: italic;
  
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
  background-color: #B3C8CF;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.switch-form {
  background: none;
  border: none;
  color: var(--main-color);
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: underline;
}
